@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Recursive', sans-serif;
}
.WeatherF{
  width: 100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  flex-wrap: wrap;
}
.todayForcast{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section-today{
  padding: 15px;
  border: 1px solid black;
  border-radius: 7px;
  background-image: url('');
  height: 150px;
  width: 200px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  margin: 5px 5px;
}
.bg-img img{
  width: 100px;
}
.datetime{
  align-items: flex-end;
}
.heading{
  margin: 10px 4px;
}
.weather-forecast{
  display: flex;
  align-items: center;
  flex-direction: column;
}