@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Recursive', sans-serif;
}
.WeatherF{
  width: 100%;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  flex-wrap: wrap;
}
.todayForcast{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.section-today{
  padding: 15px;
  border: 1px solid black;
  border-radius: 7px;
  background-image: url('');
  height: 150px;
  width: 200px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-end;
  margin: 5px 5px;
}
.bg-img img{
  width: 100px;
}
.datetime{
  align-items: flex-end;
}
.heading{
  margin: 10px 4px;
}
.weather-forecast{
  display: flex;
  align-items: center;
  flex-direction: column;
}


#why {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.container-why {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 80%;
}
.head-why {
  font-size: 1.3rem;
}
.head-why h2::after {
  content: "";
  display: block;
  height: 4px;
  width: 70px;
  background-color: #ff2c2c;
  margin-top: 20px;
}
.head-why h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.Scheme-section {
  text-align: left;
  margin: 50px 20px;
}
ol li {
  list-style: circle;
  list-style-type: style circle;
  padding-bottom: 10px;
}
.schemes{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-scheme{
  margin-top: 20px;
  margin-bottom: 20px;
}
.heading-scheme span{
  font-size: 1.5rem;
  font-weight: 700;
}