@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Recursive', sans-serif;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(img/wheat.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 80px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #6fc836;
    position: absolute;
    left: 0;
    bottom: -10px;transition: 0.2s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #6fc836;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button span{
    background: #6fc836;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.2s;
}

button:hover span{
    width: 100%;
}


.container-v{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container-v .box{
    min-width: 200px;
    max-width: 200px;
    position: relative;
    background: #6fc836;
    padding: 10px 30px 30px;
    text-align: center;
    overflow: hidden;
    border:2px solid #fff;
    border-radius: 30px;
    margin: 5px 25px;
}

.container-v .box h1{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    letter-spacing: .1em;
}

.container-v .box h2{
    font-size: 2rem;
    color:#fff;
    z-index: 1;
    letter-spacing: .1em;
}

.container-v .box h2 p{
    font-size: 1rem;
    color:#fff;
}

.container-v .box .fas{
    padding: 10px;
    margin: 10px;
    font-size: 80px;
    color: #fff;
}
.head{
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 30px 0px;
    justify-content: center;
}



.content-table{
    border-collapse:collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    align-self: center;
}

.content-table thead tr{
    background-color: #6fc836;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td{
    padding: 12px 15px;
}

.content-table tbody tr{
    border-bottom: 1px solid lightgray;
}

.content-table tbody tr:nth-of-type(even){
    background-color:#f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #6fc836;
}

.price-table{
    padding: 40px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #d1d1d1;
}
.head-price span{
    font-size: 2.2rem;
}

.map-view{
    display: flex;
    align-items: center;
    justify-content: center;
  }